In [32]:
import pandas as pd

In [33]:
weather=pd.read_csv('data/synthetic_weather.csv')

In [34]:
weather.shape
weather.head()

,year,month,element,day1,day2,day3,day4,day5,day6,day7,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
0,2018,1,max,21.19,10.61,29.26,8.34,16.68,9.84,2.46,...,9.24,3.95,28.35,22.86,33.34,14.70,16.75,21.99,6.85,31.50
1,2018,1,min,12.90,9.67,18.57,3.52,2.03,4.59,1.28,...,-4.25,1.37,18.40,12.90,18.66,12.74,6.71,16.67,-2.90,17.46
2,2018,2,max,18.91,-3.02,10.52,22.99,6.25,9.08,18.01,...,3.82,27.34,16.63,15.57,4.78,3.51,-0.14,NaN,NaN,NaN
3,2018,2,min,10.90,-3.07,5.87,18.45,3.40,-2.89,6.31,...,-0.77,13.69,12.24,5.35,2.99,-0.90,-0.89,NaN,NaN,NaN
4,2018,3,max,24.57,22.34,18.74,11.32,26.04,16.92,26.79,...,18.85,17.82,6.46,27.88,29.86,21.72,12.79,18.73,18.22,9.97

In [35]:
weather_melt = pd.melt(weather, id_vars = ['year','month','element'],
        var_name='day',
        value_name='temp')

In [36]:
weather_melt.head()

   year  month element   day   temp
0  2018      1     max  day1  21.19
1  2018      1     min  day1  12.90
2  2018      2     max  day1  18.91
3  2018      2     min  day1  10.90
4  2018      3     max  day1  24.57

In [37]:
weather_tidy = weather_melt.pivot_table(index=['year','month','day'],
                         columns='element',
                         values='temp',
                         dropna= False
                        ).reset_index()
weather_tidy.head()

element  year  month    day    max    min
0        2018      1   day1  21.19  12.90
1        2018      1  day10  16.01   2.67
2        2018      1  day11   9.82   7.25
3        2018      1  day12  15.14  11.13
4        2018      1  day13   2.63  -1.65

In [39]:
 weather_tidy.to_csv('output/weather_tidy.csv')

In [40]:
weather_tidy.loc[(weather_tidy.month==3) & (weather_tidy.day=='day1' )]

element  year  month   day    max    min
62       2018      3  day1  24.57  13.41
434      2019      3  day1  21.91  14.66
806      2020      3  day1  22.05  13.71

In [57]:
def mean_func(x):
    print(x)
    return x.dropna().sum()/len(x.dropna())    
weather_tidy[['min','max']].apply(mean_func,axis=1)

element
min    12.90
max    21.19
Name: 0, dtype: float64
element
min     2.67
max    16.01
Name: 1, dtype: float64
element
min    7.25
max    9.82
Name: 2, dtype: float64
element
min    11.13
max    15.14
Name: 3, dtype: float64
element
min   -1.65
max    2.63
Name: 4, dtype: float64
element
min    10.14
max    20.68
Name: 5, dtype: float64
element
min     8.49
max    16.97
Name: 6, dtype: float64
element
min     8.61
max    14.74
Name: 7, dtype: float64
element
min   -4.46
max   -4.14
Name: 8, dtype: float64
element
min   -2.69
max    3.37
Name: 9, dtype: float64
element
min     7.84
max    18.87
Name: 10, dtype: float64
element
min     9.67
max    10.61
Name: 11, dtype: float64
element
min    18.35
max    32.03
Name: 12, dtype: float64
element
min    11.03
max    24.85
Name: 13, dtype: float64
element
min   -4.25
max    9.24
Name: 14, dtype: float64
element
min    1.37
max    3.95
Name: 15, dtype: float64
element
min    18.40
max    28.35
Name: 16, dtype: float64
element
min    12.90
max    22.86
Name: 17, dtype: float64
element
min    18.66
max    33.34
Name: 18, dtype: float64
element
min    12.74
max    14.70
Name: 19, dtype: float64
element
min     6.71
max    16.75
Name: 20, dtype: float64
element
min    16.67
max    21.99
Name: 21, dtype: float64
element
min    18.57
max    29.26
Name: 22, dtype: float64
element
min   -2.90
max    6.85
Name: 23, dtype: float64
element
min    17.46
max    31.50
Name: 24, dtype: float64
element
min    3.52
max    8.34
Name: 25, dtype: float64
element
min     2.03
max    16.68
Name: 26, dtype: float64
element
min    4.59
max    9.84
Name: 27, dtype: float64
element
min    1.28
max    2.46
Name: 28, dtype: float64
element
min   -4.01
max    0.48
Name: 29, dtype: float64
element
min    10.79
max    24.11
Name: 30, dtype: float64
element
min    10.90
max    18.91
Name: 31, dtype: float64
element
min    -2.01
max    12.49
Name: 32, dtype: float64
element
min    19.49
max    25.67
Name: 33, dtype: float64
element
min   -4.11
max    1.98
Name: 34, dtype: float64
element
min    0.70
max    7.12
Name: 35, dtype: float64
element
min   -3.79
max    2.69
Name: 36, dtype: float64
element
min     7.56
max    14.61
Name: 37, dtype: float64
element
min    17.24
max    28.16
Name: 38, dtype: float64
element
min    18.80
max    28.93
Name: 39, dtype: float64
element
min    12.50
max    17.88
Name: 40, dtype: float64
element
min    11.69
max    20.52
Name: 41, dtype: float64
element
min   -3.07
max   -3.02
Name: 42, dtype: float64
element
min    1.34
max    7.73
Name: 43, dtype: float64
element
min     9.91
max    12.37
Name: 44, dtype: float64
element
min   -0.77
max    3.82
Name: 45, dtype: float64
element
min    13.69
max    27.34
Name: 46, dtype: float64
element
min    12.24
max    16.63
Name: 47, dtype: float64
element
min     5.35
max    15.57
Name: 48, dtype: float64
element
min    2.99
max    4.78
Name: 49, dtype: float64
element
min   -0.90
max    3.51
Name: 50, dtype: float64
element
min   -0.89
max   -0.14
Name: 51, dtype: float64
element
min   NaN
max   NaN
Name: 52, dtype: float64
element
min     5.87
max    10.52
Name: 53, dtype: float64
element
min   NaN
max   NaN
Name: 54, dtype: float64
element
min   NaN
max   NaN
Name: 55, dtype: float64
element
min    18.45
max    22.99
Name: 56, dtype: float64
element
min    3.40
max    6.25
Name: 57, dtype: float64
element
min   -2.89
max    9.08
Name: 58, dtype: float64
element
min     6.31
max    18.01
Name: 59, dtype: float64
element
min    16.81
max    24.90
Name: 60, dtype: float64
element
min     1.57
max    10.76
Name: 61, dtype: float64
element
min    13.41
max    24.57
Name: 62, dtype: float64
element
min    11.63
max    13.79
Name: 63, dtype: float64
element
min     9.87
max    11.52
Name: 64, dtype: float64
element
min    6.83
max    8.32
Name: 65, dtype: float64
element
min    13.02
max    23.90
Name: 66, dtype: float64
element
min   -0.58
max    7.17
Name: 67, dtype: float64
element
min    14.13
max    22.18
Name: 68, dtype: float64
element
min     8.4
max    17.2
Name: 69, dtype: float64
element
min     1.72
max    14.13
Name: 70, dtype: float64
element
min    2.68
max    8.89
Name: 71, dtype: float64
element
min    16.14
max    22.72
Name: 72, dtype: float64
element
min    19.40
max    22.34
Name: 73, dtype: float64
element
min    13.29
max    16.70
Name: 74, dtype: float64
element
min     9.05
max    18.93
Name: 75, dtype: float64
element
min    16.92
max    18.85
Name: 76, dtype: float64
element
min     5.58
max    17.82
Name: 77, dtype: float64
element
min   -3.85
max    6.46
Name: 78, dtype: float64
element
min    15.33
max    27.88
Name: 79, dtype: float64
element
min    15.92
max    29.86
Name: 80, dtype: float64
element
min    15.65
max    21.72
Name: 81, dtype: float64
element
min     2.32
max    12.79
Name: 82, dtype: float64
element
min    12.41
max    18.73
Name: 83, dtype: float64
element
min    10.90
max    18.74
Name: 84, dtype: float64
element
min     7.01
max    18.22
Name: 85, dtype: float64
element
min    9.62
max    9.97
Name: 86, dtype: float64
element
min     6.59
max    11.32
Name: 87, dtype: float64
element
min    19.12
max    26.04
Name: 88, dtype: float64
element
min     8.34
max    16.92
Name: 89, dtype: float64
element
min    17.55
max    26.79
Name: 90, dtype: float64
element
min    1.02
max    9.78
Name: 91, dtype: float64
element
min     7.28
max    18.67
Name: 92, dtype: float64
element
min     2.94
max    13.46
Name: 93, dtype: float64
element
min     9.18
max    17.19
Name: 94, dtype: float64
element
min     7.10
max    19.67
Name: 95, dtype: float64
element
min    10.26
max    19.18
Name: 96, dtype: float64
element
min   -4.3
max    7.5
Name: 97, dtype: float64
element
min    14.81
max    18.18
Name: 98, dtype: float64
element
min    11.25
max    15.23
Name: 99, dtype: float64
element
min     6.4
max    13.2
Name: 100, dtype: float64
element
min    14.00
max    14.51
Name: 101, dtype: float64
element
min   -4.04
max    0.17
Name: 102, dtype: float64
element
min     8.07
max    18.66
Name: 103, dtype: float64
element
min    16.03
max    16.97
Name: 104, dtype: float64
element
min    0.45
max    8.44
Name: 105, dtype: float64
element
min    11.37
max    17.72
Name: 106, dtype: float64
element
min    12.78
max    13.52
Name: 107, dtype: float64
element
min     1.79
max    15.01
Name: 108, dtype: float64
element
min    18.07
max    31.79
Name: 109, dtype: float64
element
min    19.92
max    20.16
Name: 110, dtype: float64
element
min    0.07
max    3.36
Name: 111, dtype: float64
element
min     3.66
max    11.74
Name: 112, dtype: float64
element
min    18.04
max    28.93
Name: 113, dtype: float64
element
min    13.79
max    27.11
Name: 114, dtype: float64
element
min    16.95
max    18.13
Name: 115, dtype: float64
element
min     8.86
max    20.01
Name: 116, dtype: float64
element
min   NaN
max   NaN
Name: 117, dtype: float64
element
min     6.61
max    13.88
Name: 118, dtype: float64
element
min    9.60
max    9.81
Name: 119, dtype: float64
element
min    0.42
max    5.18
Name: 120, dtype: float64
element
min    18.24
max    30.04
Name: 121, dtype: float64
element
min    12.75
max    15.60
Name: 122, dtype: float64
element
min    15.16
max    25.60
Name: 123, dtype: float64
element
min   -0.61
max    9.66
Name: 124, dtype: float64
element
min     8.91
max    11.90
Name: 125, dtype: float64
element
min    10.49
max    24.55
Name: 126, dtype: float64
element
min   -1.06
max    6.51
Name: 127, dtype: float64
element
min    -1.86
max    11.67
Name: 128, dtype: float64
element
min    1.14
max    3.84
Name: 129, dtype: float64
element
min    17.22
max    21.38
Name: 130, dtype: float64
element
min    12.64
max    26.42
Name: 131, dtype: float64
element
min    19.74
max    31.63
Name: 132, dtype: float64
element
min   -4.67
max    0.33
Name: 133, dtype: float64
element
min    4.72
max    7.35
Name: 134, dtype: float64
element
min     4.39
max    18.09
Name: 135, dtype: float64
element
min     5.40
max    17.53
Name: 136, dtype: float64
element
min    10.16
max    14.85
Name: 137, dtype: float64
element
min    15.51
max    17.40
Name: 138, dtype: float64
element
min    10.32
max    25.12
Name: 139, dtype: float64
element
min     7.85
max    10.38
Name: 140, dtype: float64
element
min     3.07
max    13.52
Name: 141, dtype: float64
element
min    4.73
max    8.64
Name: 142, dtype: float64
element
min    16.46
max    27.40
Name: 143, dtype: float64
element
min    10.74
max    22.82
Name: 144, dtype: float64
element
min   -3.79
max    1.14
Name: 145, dtype: float64
element
min    10.78
max    14.77
Name: 146, dtype: float64
element
min   -4.56
max    3.73
Name: 147, dtype: float64
element
min   -4.48
max    0.28
Name: 148, dtype: float64
element
min    19.35
max    20.45
Name: 149, dtype: float64
element
min     5.16
max    16.39
Name: 150, dtype: float64
element
min    14.68
max    25.45
Name: 151, dtype: float64
element
min    -0.38
max    10.52
Name: 152, dtype: float64
element
min    8.56
max    9.21
Name: 153, dtype: float64
element
min    2.28
max    6.77
Name: 154, dtype: float64
element
min     7.97
max    21.00
Name: 155, dtype: float64
element
min     9.85
max    20.54
Name: 156, dtype: float64
element
min   -4.38
max    2.69
Name: 157, dtype: float64
element
min    3.34
max    6.20
Name: 158, dtype: float64
element
min    13.30
max    25.97
Name: 159, dtype: float64
element
min    17.60
max    22.51
Name: 160, dtype: float64
element
min    8.12
max    8.23
Name: 161, dtype: float64
element
min     1.48
max    12.85
Name: 162, dtype: float64
element
min    0.13
max    5.22
Name: 163, dtype: float64
element
min    18.25
max    25.07
Name: 164, dtype: float64
element
min    16.79
max    22.81
Name: 165, dtype: float64
element
min    19.65
max    30.69
Name: 166, dtype: float64
element
min   -0.12
max    5.73
Name: 167, dtype: float64
element
min     0.84
max    14.86
Name: 168, dtype: float64
element
min    18.85
max    31.07
Name: 169, dtype: float64
element
min     6.87
max    16.31
Name: 170, dtype: float64
element
min   -4.37
max   -0.92
Name: 171, dtype: float64
element
min    11.84
max    14.66
Name: 172, dtype: float64
element
min   -2.06
max    2.10
Name: 173, dtype: float64
element
min     9.23
max    18.84
Name: 174, dtype: float64
element
min    10.84
max    23.55
Name: 175, dtype: float64
element
min    17.68
max    24.43
Name: 176, dtype: float64
element
min    6.13
max    9.19
Name: 177, dtype: float64
element
min   -2.57
max    0.16
Name: 178, dtype: float64
element
min   NaN
max   NaN
Name: 179, dtype: float64
element
min   -3.42
max    2.67
Name: 180, dtype: float64
element
min    2.48
max    8.09
Name: 181, dtype: float64
element
min    -3.22
max    11.76
Name: 182, dtype: float64
element
min    19.73
max    28.55
Name: 183, dtype: float64
element
min    1.18
max    1.30
Name: 184, dtype: float64
element
min     5.26
max    16.95
Name: 185, dtype: float64
element
min     2.75
max    14.57
Name: 186, dtype: float64
element
min    12.79
max    20.90
Name: 187, dtype: float64
element
min    18.68
max    23.23
Name: 188, dtype: float64
element
min   -1.24
max   -0.69
Name: 189, dtype: float64
element
min    17.50
max    28.25
Name: 190, dtype: float64
element
min     6.4
max    11.8
Name: 191, dtype: float64
element
min    15.31
max    15.35
Name: 192, dtype: float64
element
min   -2.60
max    8.91
Name: 193, dtype: float64
element
min    16.55
max    25.49
Name: 194, dtype: float64
element
min     7.25
max    10.52
Name: 195, dtype: float64
element
min    12.70
max    20.35
Name: 196, dtype: float64
element
min    14.69
max    16.51
Name: 197, dtype: float64
element
min    4.33
max    5.88
Name: 198, dtype: float64
element
min     4.53
max    11.10
Name: 199, dtype: float64
element
min    15.68
max    22.22
Name: 200, dtype: float64
element
min    11.57
max    22.13
Name: 201, dtype: float64
element
min   -0.15
max    0.84
Name: 202, dtype: float64
element
min   -2.16
max   -2.13
Name: 203, dtype: float64
element
min     2.08
max    14.74
Name: 204, dtype: float64
element
min     6.91
max    13.53
Name: 205, dtype: float64
element
min    12.70
max    24.14
Name: 206, dtype: float64
element
min     8.27
max    16.31
Name: 207, dtype: float64
element
min    18.29
max    26.28
Name: 208, dtype: float64
element
min    16.22
max    27.84
Name: 209, dtype: float64
element
min    1.51
max    7.24
Name: 210, dtype: float64
element
min    12.36
max    19.57
Name: 211, dtype: float64
element
min     1.38
max    15.42
Name: 212, dtype: float64
element
min    3.98
max    5.18
Name: 213, dtype: float64
element
min    13.17
max    19.39
Name: 214, dtype: float64
element
min    1.14
max    6.27
Name: 215, dtype: float64
element
min    2.39
max    8.28
Name: 216, dtype: float64
element
min    17.86
max    28.11
Name: 217, dtype: float64
element
min     7.18
max    13.49
Name: 218, dtype: float64
element
min    15.34
max    19.20
Name: 219, dtype: float64
element
min     8.94
max    13.68
Name: 220, dtype: float64
element
min    11.59
max    15.54
Name: 221, dtype: float64
element
min     8.60
max    23.59
Name: 222, dtype: float64
element
min    17.61
max    18.71
Name: 223, dtype: float64
element
min    19.02
max    26.41
Name: 224, dtype: float64
element
min    5.05
max    9.93
Name: 225, dtype: float64
element
min     2.75
max    12.75
Name: 226, dtype: float64
element
min    13.29
max    17.49
Name: 227, dtype: float64
element
min    19.57
max    28.31
Name: 228, dtype: float64
element
min    1.03
max    7.62
Name: 229, dtype: float64
element
min    3.23
max    4.83
Name: 230, dtype: float64
element
min    14.34
max    20.33
Name: 231, dtype: float64
element
min   -3.58
max    1.12
Name: 232, dtype: float64
element
min   -0.39
max    3.44
Name: 233, dtype: float64
element
min    12.26
max    14.54
Name: 234, dtype: float64
element
min   -1.72
max    9.05
Name: 235, dtype: float64
element
min    -1.34
max    10.19
Name: 236, dtype: float64
element
min     1.94
max    11.04
Name: 237, dtype: float64
element
min     6.64
max    15.34
Name: 238, dtype: float64
element
min    16.16
max    28.64
Name: 239, dtype: float64
element
min   -4.58
max   -1.23
Name: 240, dtype: float64
element
min   -3.44
max    6.88
Name: 241, dtype: float64
element
min   -3.88
max   -0.96
Name: 242, dtype: float64
element
min    0.31
max    1.58
Name: 243, dtype: float64
element
min    1.81
max    7.55
Name: 244, dtype: float64
element
min   -2.68
max    0.06
Name: 245, dtype: float64
element
min   -0.42
max    1.38
Name: 246, dtype: float64
element
min    11.12
max    16.35
Name: 247, dtype: float64
element
min     3.84
max    18.73
Name: 248, dtype: float64
element
min     5.19
max    15.34
Name: 249, dtype: float64
element
min    13.22
max    26.07
Name: 250, dtype: float64
element
min   -0.91
max    7.92
Name: 251, dtype: float64
element
min    0.04
max    5.30
Name: 252, dtype: float64
element
min     4.17
max    10.10
Name: 253, dtype: float64
element
min    14.87
max    17.84
Name: 254, dtype: float64
element
min     4.22
max    11.64
Name: 255, dtype: float64
element
min    2.41
max    3.00
Name: 256, dtype: float64
element
min     7.74
max    13.34
Name: 257, dtype: float64
element
min     2.40
max    14.66
Name: 258, dtype: float64
element
min    14.21
max    19.59
Name: 259, dtype: float64
element
min   -2.72
max   -0.39
Name: 260, dtype: float64
element
min    0.70
max    4.71
Name: 261, dtype: float64
element
min     8.89
max    11.53
Name: 262, dtype: float64
element
min   -4.81
max    5.16
Name: 263, dtype: float64
element
min     5.24
max    16.60
Name: 264, dtype: float64
element
min     0.90
max    14.92
Name: 265, dtype: float64
element
min    16.56
max    16.77
Name: 266, dtype: float64
element
min    18.82
max    33.33
Name: 267, dtype: float64
element
min    15.93
max    28.89
Name: 268, dtype: float64
element
min   -3.84
max    6.13
Name: 269, dtype: float64
element
min   -4.59
max   -2.28
Name: 270, dtype: float64
element
min     4.16
max    14.67
Name: 271, dtype: float64
element
min   NaN
max   NaN
Name: 272, dtype: float64
element
min    -2.71
max    11.46
Name: 273, dtype: float64
element
min    18.00
max    20.03
Name: 274, dtype: float64
element
min     5.81
max    15.76
Name: 275, dtype: float64
element
min    16.87
max    17.55
Name: 276, dtype: float64
element
min   -3.76
max    0.08
Name: 277, dtype: float64
element
min     7.86
max    17.68
Name: 278, dtype: float64
element
min     6.99
max    17.16
Name: 279, dtype: float64
element
min    19.88
max    33.02
Name: 280, dtype: float64
element
min   -3.73
max    3.08
Name: 281, dtype: float64
element
min     4.91
max    15.67
Name: 282, dtype: float64
element
min     8.38
max    13.54
Name: 283, dtype: float64
element
min    18.19
max    29.53
Name: 284, dtype: float64
element
min     0.20
max    15.03
Name: 285, dtype: float64
element
min    10.83
max    14.37
Name: 286, dtype: float64
element
min   -2.72
max    5.85
Name: 287, dtype: float64
element
min    -2.70
max    12.29
Name: 288, dtype: float64
element
min     3.77
max    17.22
Name: 289, dtype: float64
element
min   -3.61
max   -2.56
Name: 290, dtype: float64
element
min    12.47
max    24.59
Name: 291, dtype: float64
element
min    12.77
max    23.95
Name: 292, dtype: float64
element
min    19.05
max    26.89
Name: 293, dtype: float64
element
min   -4.73
max    3.02
Name: 294, dtype: float64
element
min     8.24
max    18.36
Name: 295, dtype: float64
element
min    2.37
max    8.59
Name: 296, dtype: float64
element
min     2.99
max    17.58
Name: 297, dtype: float64
element
min    11.90
max    19.95
Name: 298, dtype: float64
element
min    1.82
max    1.93
Name: 299, dtype: float64
element
min     8.61
max    20.15
Name: 300, dtype: float64
element
min     7.59
max    11.31
Name: 301, dtype: float64
element
min    12.97
max    27.33
Name: 302, dtype: float64
element
min   -2.42
max    0.27
Name: 303, dtype: float64
element
min     0.89
max    11.88
Name: 304, dtype: float64
element
min     8.75
max    19.94
Name: 305, dtype: float64
element
min    12.72
max    17.04
Name: 306, dtype: float64
element
min    11.53
max    21.27
Name: 307, dtype: float64
element
min    12.66
max    23.44
Name: 308, dtype: float64
element
min    -3.98
max    10.40
Name: 309, dtype: float64
element
min   -4.42
max   -1.11
Name: 310, dtype: float64
element
min     6.62
max    15.65
Name: 311, dtype: float64
element
min    0.11
max    8.82
Name: 312, dtype: float64
element
min    4.20
max    7.64
Name: 313, dtype: float64
element
min    10.76
max    19.37
Name: 314, dtype: float64
element
min    14.49
max    22.24
Name: 315, dtype: float64
element
min    15.47
max    22.38
Name: 316, dtype: float64
element
min    10.66
max    21.68
Name: 317, dtype: float64
element
min   -4.05
max   -1.46
Name: 318, dtype: float64
element
min    -1.90
max    10.74
Name: 319, dtype: float64
element
min     6.61
max    15.53
Name: 320, dtype: float64
element
min    19.97
max    21.98
Name: 321, dtype: float64
element
min     8.12
max    20.17
Name: 322, dtype: float64
element
min    2.25
max    9.92
Name: 323, dtype: float64
element
min    16.61
max    16.97
Name: 324, dtype: float64
element
min    4.20
max    5.58
Name: 325, dtype: float64
element
min    15.28
max    15.89
Name: 326, dtype: float64
element
min    11.51
max    20.52
Name: 327, dtype: float64
element
min    11.88
max    23.89
Name: 328, dtype: float64
element
min     7.81
max    13.99
Name: 329, dtype: float64
element
min    0.46
max    8.73
Name: 330, dtype: float64
element
min     1.54
max    13.95
Name: 331, dtype: float64
element
min    4.57
max    9.11
Name: 332, dtype: float64
element
min    15.88
max    25.69
Name: 333, dtype: float64
element
min   NaN
max   NaN
Name: 334, dtype: float64
element
min    1.42
max    3.27
Name: 335, dtype: float64
element
min     7.58
max    13.18
Name: 336, dtype: float64
element
min    19.75
max    32.09
Name: 337, dtype: float64
element
min    14.41
max    29.13
Name: 338, dtype: float64
element
min    15.01

0       17.045
1        9.340
2        8.535
3       13.135
4        0.490
         ...
1111    17.910
1112     2.575
1113    18.020
1114    14.510
1115     1.235
Length: 1116, dtype: float64

In [59]:
users = pd.DataFrame({'id':[1,2,3], 'name':['A','B','C']})
users

   id name
0   1    A
1   2    B
2   3    C

In [60]:
msgs = pd.DataFrame({'userid':[1,1,2], 'msg':['hello','bye','hi']})
msgs

   userid    msg
0       1  hello
1       1    bye
2       2     hi

In [61]:
users.merge(msgs,left_on='id',right_on='userid')

   id name  userid    msg
0   1    A       1  hello
1   1    A       1    bye
2   2    B       2     hi

In [65]:
import numpy as np
arr = np.random.randint(10,100,size=(6,4))
arr

array([[16, 38, 41, 22],
       [67, 98, 49, 25],
       [15, 45, 25, 53],
       [43, 27, 47, 94],
       [12, 42, 85, 84],
       [96, 23, 34, 77]])

In [67]:
df = pd.DataFrame(data=arr)

In [70]:
df.columns

RangeIndex(start=0, stop=4, step=1)

In [75]:
df[4] = df[0]+df[1]
df[5] = df[0]-df[1]

In [77]:
df[6] = [1,2,3,4,5,6]

In [78]:
df

    0   1   2   3    4   5  6
0  16  38  41  22   54 -22  1
1  67  98  49  25  165 -31  2
2  15  45  25  53   60 -30  3
3  43  27  47  94   70  16  4
4  12  42  85  84   54 -30  5
5  96  23  34  77  119  73  6

In [80]:
df.values

array([[ 16,  38,  41,  22,  54, -22,   1],
       [ 67,  98,  49,  25, 165, -31,   2],
       [ 15,  45,  25,  53,  60, -30,   3],
       [ 43,  27,  47,  94,  70,  16,   4],
       [ 12,  42,  85,  84,  54, -30,   5],
       [ 96,  23,  34,  77, 119,  73,   6]], dtype=int64)

In [81]:
data = pd.read_csv('data/Uber Drives.csv')

In [82]:
data

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [83]:
 type(data)

pandas.core.frame.DataFrame

In [84]:
data.shape

(1156, 7)

In [86]:
data.columns

Index(['START_DATE*', 'END_DATE*', 'CATEGORY*', 'START*', 'STOP*', 'MILES*',
       'PURPOSE*'],
      dtype='object')

In [87]:
data.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [88]:
data.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [89]:
data.drop(1155,inplace=True)

In [91]:
data.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [92]:
data.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1155 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1155 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 36.2+ KB

In [94]:
#data.columns = ['START_DATE', 'END_DATE', 'CATEGORY', 'START', 'STOP', 'MILES','PURPOSE']

Index(['START_DATE*', 'END_DATE*', 'CATEGORY*', 'START*', 'STOP*', 'MILES*',
       'PURPOSE*'],
      dtype='object')

In [95]:
data.columns = list(map(lambda x: x[:-1],data.columns))

In [96]:
data.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [103]:
data['START_DATE'] = pd.to_datetime(data['START_DATE'])
data['END_DATE'] = pd.to_datetime(data['END_DATE'])

In [104]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1155 non-null   datetime64[ns]
 1   END_DATE    1155 non-null   datetime64[ns]
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1155 non-null   float64
 6   PURPOSE     653 non-null    object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 45.2+ KB

In [106]:
ts=data['END_DATE'][0]
ts

Timestamp('2016-01-01 21:17:00')

In [107]:
ts.year

2016

In [108]:
ts.month

1

In [109]:
ts.month_name()

'January'

In [110]:
ts.day

1

In [111]:
ts.day_name()

'Friday'

In [112]:
ts.dayofweek

4

In [113]:
ts.hour

21

In [114]:
data['year'] = data['END_DATE'].dt.year

In [115]:
data.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE,year
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,2016
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,2016
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,2016
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,2016
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,2016

In [117]:
data.MILES.sum()

np.float64(12204.7)

In [118]:
data['month'] = data['END_DATE'].dt.month

In [127]:
data.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE,year,month
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,2016,1
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,2016,1
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,2016,1
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,2016,1
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,2016,1

In [124]:
data.groupby('month').MILES.sum()

month
1      512.9
2      908.2
3     1693.9
4     1113.0
5      363.8
6      842.8
7     1224.6
8     1335.5
9      601.8
10    1810.0
11     816.9
12     981.3
Name: MILES, dtype: float64

In [126]:
data['month'].value_counts()

month
12    146
8     133
11    122
2     115
3     113
7     112
6     108
10    106
1      61
4      54
5      49
9      36
Name: count, dtype: int64

In [140]:
data.loc[data['MILES'] >= 5, "MILES"].count()

np.int64(659)

In [141]:
data['KM'] = data['MILES']*1.609

In [142]:
data.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE,year,month,KM
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,2016,1,8.2059
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,2016,1,8.0450
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,2016,1,7.7232
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,2016,1,7.5623
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,2016,1,102.4933

In [147]:
data.groupby('month')['MILES'].mean()

month
1      8.408197
2      7.897391
3     14.990265
4     20.611111
5      7.424490
6      7.803704
7     10.933929
8     10.041353
9     16.716667
10    17.075472
11     6.695902
12     6.721233
Name: MILES, dtype: float64

In [151]:
data['PURPOSE'].value_counts(dropna=False)

PURPOSE
NaN                502
Meeting            187
Meal/Entertain     160
Errand/Supplies    128
Customer Visit     101
Temporary Site      50
Between Offices     18
Moving               4
Airport/Travel       3
Charity ($)          1
Commute              1
Name: count, dtype: int64